# Ejemplo de archivo de variables de entorno
# Copia este archivo a .env o .env.local y rellena los valores reales.

# Entorno
NODE_ENV=development

# Base de datos (ejemplo PostgreSQL)
DATABASE_URL=mongodb://localhost:27017/test

# Palabra secreta para JWT
JWT_SECRET="tu_secreto_jwt_aqui"

#creacion de usarios
USER_USERNAME=usuario1
USER_PASSWORD=contraseñaSegura123
USER_EMAIL=usuario1@example.com